/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  background-color: #56A6D6;
  margin-bottom: 0;
  height: 10%;
  margin-top: 0;
}
