.mapp {
  float: left;
  height: 100%;
  padding: 0;
  width: 73%;
  border-right-style: groove;
  margin-right: 0px;
}

.title{
padding-left: 20px;
margin-bottom: 0px;
padding-bottom: 0px;
}

.tab{
  width: 25%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
}
